{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block container %}

<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{ show_user.get_full_name }}</h1>
      {% if editable %}
      <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
      {% endif %}
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
    </div>
  </div>
</div>

<div class="container profile-body">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Email:</strong></span> {{ show_user.email|default:"missing" }}
	  {% if show_user.profile.email_verified %}
	    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span>
	    <span class="sr-only">Verified</span>
	  {% else %}
	    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="This email address is not verified"></span>
	    <span class="sr-only">Not Verified</span>
	  {% endif %}
	</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> {{ show_user.date_joined }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> {{ show_user.last_login }}</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">{{ show_user.get_full_name }}'s Profile
	  <a href="{% url 'profiles:show' show_user.profile.slug %}">
	    <span class="glyphicon glyphicon-link" aria-hidden="true" title="Profile permalink"></span>
	    <span class="sr-only">Permalink</span></a> {{ show_user.profile.get_absolute_url }}
	</div>
        <div class="panel-body">
	  <strong>Jee(Main) Roll No.</strong>: {{ show_user.profile.rno }}
          <br><strong>Jee(Main) Rank</strong>: {{ show_user.profile.rank }}
          <br><strong>Branch Chosen</strong>: {{ show_user.profile.branch }}
          <br><strong>Category</strong>: {{ show_user.profile.category }}
          <br><strong>Student Category</strong>: {{ show_user.profile.category2 }}
          <br><strong>Eligibility</strong>: {{ show_user.profile.is_eligible }}
       	</div>
        <div class="panel-body">
          <strong>Tution Fee</strong>: {{ show_user.profile.tutfee }}
          <br><strong>Library Fee</strong>: {{ show_user.profile.libfee }}
          <br><strong>Central Computing Facility Fee</strong>: {{ show_user.profile.cccfee }}
          <br><strong>Student Activities Fee</strong>: {{ show_user.profile.sacfee }}
          <br><strong>Group Insurance COverage of Students</strong>: {{ show_user.profile.insufee }}   
          <br><strong>Security Deposit (Refundable)</strong>: {{ show_user.profile.secfee }}
          <br><strong>Institute Development Contribution</strong>: {{ show_user.profile.devfee }}
          <br><strong>Convocation Fee</strong>: {{ show_user.profile.convofee }}
          <br><strong>Swimming Pool Fee</strong>: {{ show_user.profile.poolfee }}
          <br><strong>Campus Development Fee</strong>: {{ show_user.profile.camdevfee }}
          <br><strong>Alumni Association</strong>: {{ show_user.profile.alumfee }}
          <br><strong>Hostel Admission Fee</strong>: {{ show_user.profile.admfee }}
          <br><strong>Hostel Rent</strong>: {{ show_user.profile.rent }}
          <br><strong>Total Amount Payable</strong>: {{ show_user.profile.totfee }}
            </div>
      </div>
    </div>
</div>

{% endblock %}


